.delivery-calculator__image {
  width: 756px;
  height: 352px;
  border-radius: 16px;

  transform: scaleX(-1);

  grid-area: image;

  @media screen and (max-width: 1536px) {
    width: 505px;
    height: 232px;
    grid-area: 1/2/1/3;
  }
}