@use 'sass:map';
@use '../../styles/colors';
@use '../../styles/text-formatter' as tf;

.input {
  outline: none;
  box-sizing: border-box;
  padding: 12px;
  width: 250px;
  height: 48px;
  border: 2px solid map.get(colors.$colors, 'gray-900');
  border-radius: 4px;
  @include tf.text-formatter('input', 16);

  &::placeholder {
    color: map.get(colors.$colors, 'gray-400');
  }

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}