.quality-guarantees {
  width: 100%;
  height: 671px;
  margin: 72px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1536px) {
    width: 816px;
    height: 1102px;
  }

  @media screen and (max-width: 1024px) {
    width: 768px;
  }

  @media screen and (max-width: 758px) {
    width: 640px;
    height: 1992px;
  }
}
