@use 'sass:map';
@use '../../styles/colors';

.review {
  width: 626px;
  height: 350px;
  background-color: map.get(colors.$colors, 'gray-50');
  background-image: url('/images/quotes.svg');
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: 533px 235px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}