.header--open-navbar {
  height: 254px;
  border-radius: 16px;
  margin-top: 0;
  padding-top: 24px;

  background-color: #fff;

  transition: .2s;

  width: 758px;

  row-gap: 12px;
  grid-template-areas:  'logo   .                     hotline-telephone-number burger-button'
                          'navbar navbar               navbar                   navbar'
                          'slogan minimum-order-value  exchange-rates-box       .';
  grid-template-columns:  184px   224px                 184px                   46px;
  grid-template-rows:
    74px
    68px
    48px;
}