.advantage-block {
  width: 1536px;
  height: 452px;
  margin: 352px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  @media screen and (max-width: 1536px) {
    margin-top: 542px;
    width: 1026px;
    height: 660px;
  }

  @media screen and (max-width: 1024px) {
    margin-top: 850px;
    width: 768px;
    height: 488px;
  }

  @media screen and (max-width: 758px) {
    margin-top: 870px;
    width: 640px;
    height: 860px;
  }
}
