@use 'sass:map';
@use '../../../../../styles/colors';

.header__navbar--open-navbar {
  $border-properties: 2px solid map.get(colors.$colors, 'purple-400');
  display: flex;
  height: 68px;
  padding-top: 0;
  align-self: center;
  border-top: $border-properties;
  border-bottom: $border-properties;
  margin: 0;
  opacity: 1;
  visibility: visible;
  max-height: 68px;
  transition: opacity .2s, visibility .2s, max-height .2s, margin .2s, padding .2s;
}