@use 'sass:map';
@use '../../../../../styles/colors';

.header__navbar--open-navbar {
  $border-properties: 2px solid map.get(colors.$colors, 'purple-400');
  display: flex;
  height: 68px;
  padding-top: 0;
  align-self: center;
  border-top: $border-properties;
  border-bottom: $border-properties;
  margin: 0;
}