@use '../../../../styles/text-formatter' as tf;

.review__author {
  @include tf.text-formatter('author of review');

  @media screen and (max-width: 1536px) {
    font-size: 18px;
    line-height: 24px;
  }
}