.header__navbar {
  width: 100%;
  max-width: 1536px;
  margin: 24px auto 0;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 24px;

  & > button {
    margin-left: auto;
  }

  grid-area: navbar;
  box-sizing: border-box;
  padding-top: 24px;

  @media screen and (max-width: 1024px) {
    padding-top: 0;
    align-self: center;
    height: 68px;
  }
}