.header {
  width: 100%;
  height: 192px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;

  container-type: inline-size;
}

//@container card (min-width: 400px) {
//  .card {
//    display: flex;
//    gap: 16px;
//  }
//}