.header {
  width: 100%;
  height: 192px;

  container-type: inline-size;

  outline: 1px dashed royalblue;
}

//@container card (min-width: 400px) {
//  .card {
//    display: flex;
//    gap: 16px;
//  }
//}