.header__minimum-order-value--open-navbar {
  display: block;
  width: 185px;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  justify-self: center;
}