@use '../../../styles/text-formatter' as tf;

.header__minimum-order-value{
  grid-area: minimum-order-value;
  align-self: center;
  justify-self: flex-end;
  padding-right: 24px;
  @include tf.text-formatter('terms');

  transition: .2s;

  @media screen and (max-width: 1024px) {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    width: 233px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}