@use 'sass:map';
@use '../../../styles/colors';
@use '../../../styles/text-formatter' as tf;

.header__hotline-telephone-number {
  width: 380px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 12px;
  border-left: 1px solid map.get(colors.$colors, 'purple-400');

  & > a {
    @include tf.text-formatter('logo', 36);
    text-decoration: none;
  }

  & > h3 {
    @include tf.text-formatter('review author', 24);
    color: map.get(colors.$colors, 'gray-900');
  }
}

@container (max-width: 1024px) {
  .header__hotline-telephone-number {
    width: 229px !important;
    border: none !important;
    padding: 0 !important;
    justify-content: center !important;
    gap: 4px !important;

    & > a {
      font-size: 24px !important;
    }

    & > h3 {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }
}