.header--open-navbar {
  height: 254px;
  background-color: red;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-top: 0;
  padding-top: 24px;
  transition: .2s;
  //row-gap: 0;
  //grid-template-columns:  233px   1fr                 200px                   56px;
  //grid-template-rows:
  //  74px
  //  0
  //  0;
  //
  //box-sizing: border-box;
  //padding: 0 60px;
}