.header__exchange-rates-of-major-currencies {
  width: 370px;
  height: inherit;
  box-sizing: border-box;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}