@use '../../../styles/text-formatter' as tf;

.header__minimum-order-value{
  grid-area: minimum-order-value;
  align-self: center;
  justify-self: flex-end;
  padding-right: 24px;
  @include tf.text-formatter('terms');
}