@use 'sass:map';
@use '../../../styles/colors';

.header {
  width: 1536px;
  height: 192px;
  margin: 0 auto;
  display: grid;
  gap: 24px;
  grid-template-areas: 'logo . exchange-rates hotline-telephone-nuber'
                        'navbar navbar navbar navbar';
  align-items: center;
  grid-template-columns:
    305px
    1fr
    370px
    380px;
}