@use 'sass:map';
@use '../../../styles/colors';

.header__hotline-telephone-number {
  width: 380px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 12px;
  border-left: 1px solid map.get(colors.$colors, 'purple-400');

  & > a {
    text-decoration: none;
  }

  & > h3 {
    color: map.get(colors.$colors, 'gray-900');
  }

  grid-area: hotline-telephone-number;
  justify-self: center;
  align-self: center;
}