.header__exchange-rates-box--open-navbar {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  grid-area: 3/3/3/5;
  justify-content: center;
}