.bg-for-header {
  width: 100%;
  height: 192px;
  background-color: #fff;
  position: absolute;
  top: 0;

  z-index: 1;

  @media screen and (max-width: 1024px) {
    height: 262px;
  }

  @media screen and (max-width: 768px) {
    height: 120px;
  }
}