.header__exchange-rates-box--open-navbar {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  justify-self: center;
  grid-area: 3/3/3/5;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  max-height: 100px;
  transition: opacity .2s, visibility .2s, max-height .2s;
}