@use 'sass:map';
@use '../../../styles/colors';
@use './hint-mixins';

.input {
  width: 258px;
  height: 48px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid map.get(colors.$colors, 'grey-900');
  border-radius: 4px;

  background: var(--icon-located--placeholder);
  @include hint-mixins.background-properties;
  background-position: var(--bg-position);

  &:focus {
    background: var(--icon-located--focus);
    @include hint-mixins.background-properties;
    background-position: var(--bg-position);
  }

  &:not(:placeholder-shown) {
    background: var(--icon-located--after-entering-the-text);
    @include hint-mixins.background-properties;
    background-position: var(--bg-position);
  }

  &:focus:not(:placeholder-shown) {
    background: var(--icon-located--after-entering-the-text);
    @include hint-mixins.background-properties;
    background-position: var(--bg-position);
  }

  &::placeholder {
    color: map.get(colors.$colors, 'grey-400');
  }

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}