$colors: (
        purple-200: #DDD6FE,
        purple-400: #A78BFA,
        purple-500: #8B5CF6,
        purple-700: #6D28D9,
        gray-50: #F9FAFB,
        gray-400: #9CA3AF,
        gray-900: #111827
);