@use 'sass:map';
@use './colors';

@font-face {
  font-family: 'Formular Bold';
  src: url(/fonts/Formular/Formular-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: 'Formular Regular';
  src: url(/fonts/Formular/Formular-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Formular Light';
  src: url(/fonts/Formular/Formular-Light.woff2) format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: 'Formular Black';
  src: url(/fonts/Formular/Formular-Black.woff2) format("woff2");
  font-weight: 900;
}

@mixin text-formatter($component) {

}
