.advantage {
  width: 496px;
  height: 184px;
  box-sizing: border-box;
  padding: 40px 24px;
  display: grid;
  grid-template-areas:    'image      header'
                          '.          desc';
  grid-template-columns:  136px      300px;
  grid-template-rows:
                          32px
                          60px;
  row-gap: 12px;
  column-gap: 12px;

  @media screen and (max-width: 1024px){
    width: 372px;
    height: 120px;

    grid-template-columns:  108.8px      251px;
    grid-template-rows:
                          28px
                          80px;
    padding: 0;
  }

  @media screen and (max-width: 758px) {
    height: 140px;
  }
}
