.advantage {
  width: 496px;
  height: 184px;
  box-sizing: border-box;
  padding: 40px 24px;
  display: grid;
  grid-template-areas:    'image      header'
                          '.          desc';
  grid-template-columns:  136px      300px;
  grid-template-rows:
                          32px
                          60px;
  row-gap: 12px;
  column-gap: 12px;
}
