.delivery-calculator__input-field--city-of-purchase {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  width: 236px !important;
}

@media screen and (max-width: 1536px) {
  .delivery-calculator__input-field--city-of-purchase {
    width: 291px !important;
  }
}

@media screen and (max-width: 758px) {
  .delivery-calculator__input-field--city-of-purchase {
    width: 272px !important;
  }
}