.delivery-calculator {
  width: 1536px;
  height: 584px;
  position: relative;
  top: 264px;
  left: calc(50% - calc(1536px / 2));

  display: grid;
  column-gap: 24px;
  row-gap: 14px;
  grid-template-areas:    'heading                form'
                          'desc                   form'
                          'image                  form';
  grid-template-columns:  756px                   756px;
  grid-template-rows:
    120px
    84px
    352px;
  
  @media screen and (max-width: 1536px) {
    width: 1026px;
    left: calc(50% - calc(1026px / 2));
    grid-template-columns:  505px                   505px;
    grid-template-rows:
    108px
    112px
    584px;
    column-gap: 16px;
  }
}