.quality-guarantees__inner-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 1536px;
  margin-bottom: 72px;

  @media screen and (max-width: 1536px) {
    width: 816px;
    gap: 24px;
  }

  @media screen and (max-width: 1024px) {
    width: 768px;
  }

  @media screen and (max-width: 758px) {
    width: 640px;
    justify-content: center;
  }
}
