@use 'sass:map';
@use '../../../../styles/colors';
@use '../../../../styles/text-formatter' as tf;

.header__hotline-telephone-number {
  width: 380px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 12px;
  border-left: 1px solid map.get(colors.$colors, 'purple-400');

  transition: .2s;

  @media screen and (max-width: 1536px) {
    width: 310px;
  }

  @media screen and (max-width: 1024px) {
    justify-content: center;
    gap: 4px;
    border: 0;
  }

  & > a {
    text-decoration: none;
    @include tf.text-formatter('hotline telephone number');

    @media screen and (max-width: 1536px) {
      font-size: 30px;
      line-height: 36px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 24px;
      line-height: 32px;
    }

    @media screen and (max-width: 758px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  & > h3 {
    @include tf.text-formatter('text for the hotline telephone number');

    @media screen and (max-width: 1536px) {
      font-size: 20px;
      line-height: 28px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  grid-area: hotline-telephone-number;
  justify-self: center;
  align-self: center;
}