.advantage-block_inner-block {
  width: inherit;
  height: 392px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 1536px){
    height: 600px;
  }

  @media screen and (max-width: 1024px){
    height: 428px;
  }

  @media screen and (max-width: 758px){
    width: 372px;
    row-gap: 24px;
    height: 1040px;
  }
}