@use 'sass:map';
@use '../styles/colors';
@use '../styles/text-formatter' as tf;

.button {
  outline: none;
  border: none;
  width: 118px;
  height: 44px;
  border-radius: 4px;
  background: map.get(colors.$colors, 'purple-500');
  @include tf.text-formatter('button', 16);
}