@use 'sass:map';
@use '../../../../styles/colors';

.delivery-calculator__form {
  height: inherit;
  border-radius: 16px;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-column-gap: 24px;
  background: map.get(colors.$colors, 'gray-50');

  box-sizing: border-box;
  padding: 24px 130px;

  @media screen and (max-width: 1536px) {
    width: 1026px;
    height: 584px;
    grid-area: 3/1/3/3;
    padding: 12px 210px;
  }
}