.delivery-calculator__input-field--country-of-purchase {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  width: 236px !important;
}

@media screen and (max-width: 1536px) {
  .delivery-calculator__input-field--country-of-purchase {
    width: 291px !important;
  }
}