@use '../../../../../styles/text-formatter' as tf;

.header__slogan--open-navbar {
  display: block;
  width: 185px;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  justify-self: center;
  opacity: 1;
  visibility: visible;
  max-height: 100px;
  transition: opacity .2s, visibility .2s, max-height .2s;
}