@use 'sass:map';
@use '../../../../styles/colors';

.header__navbar {
  width: 100%;
  max-width: 1536px;
  margin: 24px auto 0;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 24px;

  & > button {
    margin-left: auto;
  }

  grid-area: navbar;
  box-sizing: border-box;
  padding-top: 24px;

  $border-properties: 2px solid map.get(colors.$colors, 'purple-400');
  @media screen and (max-width: 1024px) {
    height: 68px;
    padding-top: 0;
    align-self: center;
    border-top: $border-properties;
    border-bottom: $border-properties;
    margin-bottom: 12px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}