.delivery-calculator__input-field--weight {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  width: 236px !important;
}

@media screen and (max-width: 1536px) {
  .delivery-calculator__input-field--weight {
    width: 291px !important;
  }
}

@media screen and (max-width: 758px) {
  .delivery-calculator__input-field--weight {
    width: 272px !important;
  }
}