.delivery-calculator__input-field--email {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  width: 236px !important;
}

@media screen and (max-width: 1536px) {
  .delivery-calculator__input-field--email {
    width: 291px !important;
  }
}