.burger-button--cross {
  display: block;
  position: relative;

  & > .burger-button__hl:nth-child(1) {
    position: relative;
    top: 6px;
    transform: rotate(45deg);
    transition: .2s;
  }

  & > .burger-button__hl:nth-child(2) {
    display: none;
  }

  & > .burger-button__hl:nth-child(3) {
    position: relative;
    top: 2px;
    transform: rotate(135deg);
    transition: .2s;
  }
}