.delivery-calculator__input-field--delivery-area {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  width: 236px !important;
}

@media screen and (max-width: 1536px) {
  .delivery-calculator__input-field--delivery-area {
    width: 291px !important;
  }
}