@use 'sass:map';
@use '../../../styles/colors';

.button {
  outline: none;
  border: none;
  box-sizing: border-box;
  padding: 0 28px;
  height: 44px;
  border-radius: 4px;
  background: map.get(colors.$colors, 'purple-500');
}